# for docker
APP_VERSION=v0.0.0
APP__WWW_PROJECT_NAME=crimea-is-ukraine
APP__WWW_CONTENT_DIR_NAME=content
APP__DATABASE_DIR_NAME=crimea-rag
# Embedding
EMBED__MODEL=mxbai-embed-large
EMBED__URL=http://127.0.0.1
EMBED__PORT=11434
EMBED__BATCH_SIZE=50
EMBED__DEFAULT_K=3
## Lapathoniia
LAPATHONIIA__API_KEY=sk--yOurApIsEcreTkeY
LAPATHONIIA__BASE_URL="https://api.lapathoniia.top"
LAPATHONIIA__MODEL="MamayLM-Gemma-3-12B-IT-v1.0" or "LapaLLM-Gemma-3-12B-v0.1.2-instruct"
LAPATHONIIA__MAX_TOKENS=1000
LAPATHONIIA__TEMPERATURE=0.2
## Server
SERVER__LOGGING_LEVEL=DEBUG or INFO or WARNING or ERROR or CRITICAL
