# for docker
DOCKER__APP_VERSION=v0.0.0
# App
APP__WWW_PROJECT_NAME=crimea-is-ukraine
APP__WWW_CONTENT_DIR_NAME=content
APP__DATABASE_DIR_NAME=crimea-rag
# Embedding
EMBED__MODEL=mxbai-embed-large
EMBED__URL=http://127.0.0.1
EMBED__PORT=11434
EMBED__BATCH_SIZE=50
EMBED__DEFAULT_K=3
EMBED__MAX_QUERY_LENGTH=550
## LLM
LLM__NAME="Lapathoniia"  # or OpenAI or Anthropic or Google, required
LLM__API_KEY="sk--yOurApIsEcreTkeY"  # Required
LLM__MODEL="MamayLM-Gemma-3-12B-IT-v1.0"  # or "LapaLLM-Gemma-3-12B-v0.1.2-instruct", required
LLM__BASE_URL="https://api.lapathoniia.top"  # Optional
LLM__MAX_TOKENS="1000"  # Optional
LLM__TEMPERATURE="0.2"  # Optional
## Server
SERVER__LOGGING_LEVEL="INFO"  # or DEBUG or WARNING or ERROR or CRITICAL, required
