APP__WWW_PROJECT_NAME=crimea-is-ukraine
APP__WWW_CONTENT_DIR_NAME=content
APP__DATABASE_DIR_NAME=crimea-rag
APP__EMBED_MODEL=mxbai-embed-large
APP__EMBED_URL=http://127.0.0.1
APP__EMBED_PORT=11434
APP__BATCH_SIZE=50
## Lapathoniia
LAPATHONIIA__API_KEY=sk--yOurApIsEcreTkeY
LAPATHONIIA__BASE_URL="https://api.lapathoniia.top"
LAPATHONIIA__MAX_TOKENS=1000
LAPATHONIIA__TEMPERATURE=0.2
## Server
SERVER__LOGGING_LEVEL=DEBUG or INFO or WARNING or ERROR or CRITICAL
## MeasurementAPI
