APP__WWW_PROJECT_NAME=crimea-is-ukraine
APP__WWW_CONTENT_DIR_NAME=content
APP__DATABASE_DIR_NAME=crimea-rag
APP__EMBED_MODEL=mxbai-embed-large
APP__EMBED_URL=http://127.0.0.1
APP__EMBED_PORT=11434
APP__BATCH_SIZE=50
